* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background-color: rgba(253, 251, 255, 0.945);
}

.content-one {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.topcolor {
  background-image: url("moon.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.topcolor .person-name h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 2rem;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.profile-logo {
  position: relative;
  top: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-color: #0a0a08;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 10px wheat;
          box-shadow: 0px 0px 10px wheat;
}

.cardsI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardsI .card-education {
  width: 40rem;
  height: 20rem;
  border: none;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  margin: 1rem;
  background-color: white;
}

.cardsI .card-education .title {
  text-align: center;
  padding: 1rem;
}

.cardsI .card-online {
  width: 40rem;
  height: 42rem;
  border: none;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  margin: 1rem;
  background-color: white;
}

.cardsI .card-online .title {
  text-align: center;
  padding: 1rem;
}

.cardsI .card-marriage {
  width: 40rem;
  height: 20rem;
  border: none;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  margin: 1rem;
  background-color: white;
}

.cardsI .card-marriage .title {
  text-align: center;
  padding: 1rem;
}

.cardsI .card-work {
  width: 40rem;
  height: 20rem;
  border: none;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  margin: 1rem;
  background-color: white;
}

.cardsI .card-work .title {
  text-align: center;
  padding: 1rem;
}

.cardsI .card {
  width: 40rem;
  height: 30rem;
  border: none;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  margin: 1rem;
  background-color: white;
}

.cardsI .card .title {
  text-align: center;
  padding: 1rem;
}

.education {
  margin-left: 1rem;
}

.education h2 {
  font-size: 1rem;
}

.marriage {
  margin-left: 1rem;
}

.marriage h2 {
  font-size: 1rem;
}

.work {
  margin-left: 1rem;
}

.work h2 {
  font-size: 1rem;
}

.online {
  margin-left: 1rem;
}

.online h2 {
  font-size: 1rem;
}

.personal {
  margin-left: 1rem;
}

.personal h2 {
  font-size: 1rem;
}

.content-two {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.button {
  text-align: center;
}

.button button {
  padding: 1rem;
  width: 20rem;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 15px;
  margin: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}
/*# sourceMappingURL=style.css.map */